absl-py==1.0.0
alabaster==0.7.12
Babel==2.9.1
backcall==0.2.0
certifi==2021.5.30
cloudpickle==2.0.0
colorama==0.4.4
cycler==0.10.0
decorator==5.0.9
docutils==0.17.1
flood-forecast==0.992.dev0
future==0.18.2
google-api-core==2.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-cloud==0.34.0
google-cloud-core==2.2.1
google-cloud-storage==2.0.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
grpcio==1.43.0
h5py==3.6.0
imagesize==1.3.0
importlib-metadata==4.10.1
ipython==7.25.0
ipython-genutils==0.2.0
jedi==0.18.0
joblib==1.1.0
kiwisolver==1.3.1
llvmlite==0.38.0
Markdown==3.3.6
matplotlib==3.4.2
matplotlib-inline==0.1.2
mpld3==0.5.7
noise==1.2.2
numba==0.55.0
numpy==1.21.1
opencv-python==4.5.5.62
pandas==1.3.0
parso==0.8.2
pickleshare==0.7.5
Pillow==8.4.0
plotly==5.1.0
prompt-toolkit==3.0.19
Pygments==2.11.2
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
requests-oauthlib==1.3.0
scikit-learn==0.24.2
scipy==1.7.1
shap==0.40.0
six==1.16.0
slicer==0.0.7
snowballstemmer==2.2.0
Sphinx==4.4.0
sphinx-autodoc-typehints==1.15.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tb-nightly==2.8.0a20220117
tenacity==8.0.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.0.0
tifffile==2021.11.2
torch==1.9.0+cu111
torchaudio==0.9.0
torchsummary==1.5.1
torchvision==0.10.0
traitlets==5.0.5
typing-extensions==3.10.0.0
wcwidth==0.2.5
Werkzeug==2.0.2
wincertstore==0.2
